# Entorno virtual
.venv/
venv/
env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de pruebas temporales
tmp/
temp/
*.tmp

# Configuraciones de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db